<div class="row">
    <div class="col s12">
        <div class="file-field input-field">
            <div class="btn">
                <span>Copie de carte ID</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="file-field input-field">
            <div class="btn">
                <span>Copie de permis de Conduire</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="file-field input-field">
            <div class="btn">
                <span>Attestation de domicile de - de 3 mois</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="file-field input-field">
            <div class="btn">
                <span>Copie de licence (FFM, etc...)</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="file-field input-field">
            <div class="btn">
                <span>Copie de carte grise</span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
</div>