{% extends "::layout.html.twig" %}

{% block body %}
    <div class="container">
        <form action="{{ path('app_my_adverts') }}">

            <section class="section">
                <div class="row">

                    <div class="col s12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi consequuntur
                            dolor doloribus, eos fugit, illo incidunt inventore itaque laborum maxime modi nobis
                            possimus quae rerum similique sunt veritatis vitae.
                        </p>
                        <p>Cum, dolore odit. Aliquam, animi commodi cum debitis delectus deleniti dolorem doloremque,
                            dolores eaque earum eum excepturi facere fuga nam nulla perferendis placeat quae quasi quos
                            repellat, sed totam velit.
                        </p>
                    </div>
                </div>
            </section>
            <section>

                {% include 'AppBundle:default/forms:inc-form-document-mandatory.html.twig' %}

                <section class="plans-container" id="plans">
                    <article class="col s12 l4">
                        <div class="card hoverable center-align">
                            <div class="card-image purple waves-effect">
                                <div class="card-title">BASIC</div>
                                <div class="price"><sup>$</sup>0<sub>/mo</sub></div>
                                <div class="price-desc">Free 1 month</div>
                            </div>
                            <div class="card-content">
                                <ul class="collection">
                                    <li class="collection-item">500 emails</li>
                                    <li class="collection-item">unlimited data</li>
                                    <li class="collection-item">1 users</li>
                                </ul>
                                <span class="activator">Plus d'info</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                            <div class="card-action">
                                <button class="waves-effect waves-light btn-select-plan btn">Select Plan</button>
                            </div>
                        </div>
                    </article>
                    <article class="col s12 l4">
                        <div class="card z-depth-1 hoverable center-align">
                            <div class="card-image cyan waves-effect">
                                <div class="card-title">PROFESSIONAL</div>
                                <div class="price"><sup>$</sup>29<sub>/mo</sub></div>
                                <div class="price-desc">Most Popular</div>
                                <ul class="card-action-buttons">
                                    <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                                    </li>
                                    <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                                    </li>
                                    <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-content">
                                <ul class="collection">
                                    <li class="collection-item">2000 emails</li>
                                    <li class="collection-item">unlimited data</li>
                                    <li class="collection-item">10 users</li>
                                </ul>
                                <span class="activator">Plus d'info</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                            <div class="card-action ">
                                <button class="waves-effect waves-light btn btn-select-plan">Select Plan</button>
                            </div>
                        </div>
                    </article>
                    <article class="col s12 l4">
                        <div class="card z-depth-1 hoverable center-align">
                            <div class="card-image green waves-effect">
                                <div class="card-title">PREMIUM</div>
                                <div class="price"><sup>$</sup>49<sub>/mo</sub></div>
                                <div class="price-desc">Get 20% off</div>
                            </div>
                            <div class="card-content">
                                <ul class="collection">
                                    <li class="collection-item">10,000 emails</li>
                                    <li class="collection-item">unlimited data</li>
                                    <li class="collection-item">20 users</li>
                                </ul>
                                <span class="activator">Plus d'info</span>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                            <div class="card-action center-align">
                                <button class="waves-effect waves-lightbtn-select-plan btn">Select Plan</button>
                            </div>
                        </div>
                    </article>
                </section>
                <br>
                <section>
                    <hr>
                    <div class="row">
                        <div class="col s12">
                            <p>Cette étape peut etre complété utltéérieurment a tout moment</p><br>
                        </div>
                        <div class="col s6"><input type="submit" class="btn" value="Passer l'étape"></div>
                        <div class="col s6 right-align"><input type="submit" class="btn" value="Terminer l'inscription"></div>
                    </div>
                </section>
            </section>
        </form>
    </div>
{% endblock %}
